<!DOCTYPE <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>NatyM - Desenvolvedora Web</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="Stylesheet" href="../css/materialize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type="text/css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <nav class="z-depth-4 row">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo left espaco"> <i class="material-icons">star_border</i>NatyM</a>
            <ul id="nav-mobile" class="right">
                <li><a href="index.html">Home</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </div>
    </nav>


    <div class="row center espaco">
        <section>
            <div class="col s6 m6 l6 xl6">
                <h3>Localização</h3>
                <img src="../img/mapa.jpg" alt="">
                <ul class="sem-marcador sem-padding">
                    <li>Rua</li>
                    <li>Bairro</li>
                    <li>Cidade - Estado</li>
                </ul>
                <h3>Contato direto</h3>
                <ul class="sem-marcador sem-padding">
                    <li>Fone: <strong>(00) 9999-9999 </strong> </li>
                    <li>Email: <strong>naty.moraes16@gmail.com </strong> </li>
                    <li>linkdIn: <strong> www.linkedin.com/in/nataliadasilvamoraes </strong> </li>
                </ul>
            </div>

            <div class="col s6 m6 l6 xl6">
                 <h2>Envie Sua Mensagem</h2>
              <form action="">
                  <label for="nome">Seu nome:</label>
                    <input type="text" name="nome" id="nome" />
                  <label for="email">Seu email:</label>
                     <input type="text" name="email" id="email" />
                  <label for="assunto">Assunto:</label>
                     <input type="text" name="assunto" id="assunto" />
                  <label for="mensagem">Mensagem:</label>
                  <textarea name"mensagem" id="mensagem"></textarea>
                    <button class="btn waves-effect waves-light cor-botao left" type="submit" name="action">Enviar Mensagem
                        <i class="material-icons right">send</i>
                      </button>
              </form>
            </div>
        </section>
    </div>


    <div class="conteudo-extra">
            <div class="row">
                
                <div class="col s12 m12 l12 xl12">
                    <h3 class="center">Últimas noticias</h3>
                    <ul class="sem-marcador sem padding noticias">
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="row">
                <footer>
                    <div class="col s12 m12 l12 xl12">
                        <span>&copy; 2018 - NatyM - Desenvolvedora Web</span>
                    </div>
                </footer>
            </div>
        </div> 
</body>
</html>