<!DOCTYPE <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>NatyM - Desenvolvedora Web</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="Stylesheet" href="../css/materialize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type="text/css" />
    <link rel="stylesheet" href="../css/style.css" />
    <meta name = " viewport "  content = " largura = largura do dispositivo, escala inicial = 1.0 "/>
    
</head>

<body>
<nav class="z-depth-4 row">
    <div class="nav-wrapper">
        <a href="index.html" class="brand-logo left espaco"><i class="material-icons">star_border</i>NatyM</a>
        <ul id="nav-mobile" class="right tira-sombra">
            <li><a href="index.html">Home</a></li>
            <li><a href="clientes.html">Clientes</a></li>
            <li><a href="servicos.html">Serviços</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </div>
</nav>

<div class="row center ">
        <section>
            <div class="col s5 m5 l5 xl5 ">
                <h3 class="flow-text">Clientes Satisfeitos</h3>
                <ul class="sem-marcador sem-padding">
                    <li><a href="">Nome da Empresa 1</a></li>
                    <li><a href="">Nome da Empresa 1</a></li>
                    <li><a href="">Nome da Empresa 1</a></li>
                    <li><a href="">Nome da Empresa 1</a></li>
                    <li><a href="">Nome da Empresa 1</a></li>
                    <li><a href="">Nome da Empresa 1</a></li>
                    <li><a href="">Nome da Empresa 1</a></li>
                </ul>
                <a href="clientes.html" class="waves-effect waves-light btn-small cor-botao">Ver todos &raquo;</a>
            </div>
            <div class="col s6 m6 l6 xl6">
                <h2 class="flow-text">Ultimo trabalho:<em>Empresa ABC</em></h2>
                <img src="img/fom.jpg" alt="" />
                <p> Não fique pensando no que não tem.
                    Agradeça pelo que já conquistou.
                    Ainda que seja uma simples caixa de lápis de cor.
                    com ela, dá para desenhar o mundo.
                </p>
                <a href="clientes.html" class="waves-effect waves-light btn-small cor-botao">Ver outros trabalhos &raquo;</a>
                
            </div>
        </section>
    </div>
    <div class="conteudo-extra">
            <div class="row">
                
                <div class="col s12 m12 l12 xl12">
                    <h3 class="center">Últimas noticias</h3>
                    <ul class="sem-marcador sem padding noticias">
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="footer">
        <div class="row">
            <footer>
                <div class="col s12 m12 l12 xl12">
                    <span>&copy; 2018 - NatyM - Desenvolvedora Web</span>
                </div>
            </footer>
        </div>
    </div> 



    <script type = " text / javascript "  src = " js / materialize.js "> </script>
    <script>document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, options);
          });</script>
</body>
</html>