<!DOCTYPE <!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>NatyM - Desenvolvedora Web</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="Stylesheet" href="../css/materialize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type="text/css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <nav class="z-depth-4 row">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo left"> <i class="material-icons">star_border</i>NatyM</a>
            <ul id="nav-mobile" class="right">
                <li><a href="index.html">Home</a></li>
                <li><a href="clientes.html">Clientes</a></li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </div>
    </nav>

    <div class="row center">
        <section>
                <div class="col s6 m6 l5">
                    <h4>Sobre mim:</h4>
                <p> Me chamo Natalia S Moraes, tenho 25 anos, e amo programar
                </p> 
                    <h4>Porque trabalho com Front-End/UX</h4>
                <p> Acredito que primeira impressão é o que fica,</p>
                <p>  se tiver um site agradavel aos olhos,</p> 
                <p>  as chances aumentam.</p>
            </div>
            <div class="col s6 m6 l5">
                    <h4>Formação Profissional</h4>
                    <img src="../img/dev.jpg" alt="">
                    <ul>
                        <li>Tecnico em Informatica</li>
                        <li>Engenharia da Computação</li>
                    </ul>
                    <h4>Conhecimento</h4>
                    <ul>
                        <li>Codificação Front-End</li>
                        <li>desenvolvimento de Software</li>
                        <li>Metodos Ageis</li>
                        <li>Pair Programming</li>
                        <li>JavaScript/HTML/CSS</li>
                        <li>GIT/GITHUB</li>
                        <li>Windows/Linux</li>
                    </ul>
                </div>
        </section>
    </div>
    <div class="conteudo-extra">
            <div class="row">
                
                <div class="col s6 m6 l12">
                    <h3 class="center">Últimas noticias</h3>
                    <ul class="sem-marcador sem padding noticias">
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                        <li>
                            <img src="../img/cer.jpg" alt="" />
                            <h4 class="flow-text"> Titulo da noticia publicada no blog </h4>
                            <p>O sucesso nasce do querer, da determinação e 
                                persistência em se chegar a um objetivo. 
                                Mesmo não atingindo o alvo, quem busca e vence obstáculos,
                                no mínimo fará coisas admiráveis.<a href="">Leia mais &raquo;</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="footer">
        <div class="linha">
            <footer>
                <div class="coluna col12">
                    <span>&copy; 2018 - NatyM - Desenvolvedora Web</span>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>